<%= form_for @user, url: {action: "create"}, html: {class: "section container"} do |f| %>
  <div class="column u-cf">
    <h3>Tag Search</h3>
  </div>
  <div class="four column u-cf">
    <%= f.text_field :search %>
  </div>
  <div class="twelve columns u-cf">
    <div id="tag set"></div>
  </div>
  <div class="nine column u-cf">
    <div id="user set"></div>
  </div>
<% end %>
<div class="hide">
  <div id="stamp 1">
    <span>&bull;</span>
    <span class="tagText"></span>
  </div>
  <div id="stamp 2">
    <span class="userName"></span>
    <div class="tagList"></div>
    <div class="collabList"></div>
  </div>
</div>