<%= form_for @tag, url: {action: "search"}, remote: true, html: {class: "section container"} do |f| %>
  <div class="column u-cf">
    <h3>Tag Search</h3>
  </div>
  <div class="u-full-width u-cf">
    <%= f.text_field :title, placeholder: "Enter tags to search for", class: "nine columns" %>
  </div>
  <div class="u-full-width u-cf">
    <div id="tag set"></div>
  </div>
  <div class="u-full-width u-cf">
    <div id="user set" class="nine columns"></div>
  </div>
<%  end -%>
<div class="hide">
  <div id="stamp 1">
    <span>&bull;</span>
    <span class="tagText"></span>
  </div>
  <div id="stamp 2">
    <span class="userName"></span>
    <div class="tagList"></div>
    <div class="collabList"></div>
  </div>
</div>