/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.hide {
  display: none
}

.alert {
  z-index: 99;
  background-color: turquoise;
  padding: 1rem 2rem
}
.alert > * {
  display: inline-block;
  margin-right: .5rem
}

.section {
 margin-top: 6rem 
}

.tag-list {
  border: 1px solid #d1d1d1;
  padding: 6px 10px;
  border-radius: 4px
}
.tag-list:active {
  border: 1px solid #33C3F0
}
.tag-list > li {
  display: inline-block;
  margin: 0;
  background-color: greenyellow;
  padding: .2rem .4rem;
  border-radius: 4px
}
.tag-list > li:before {
  content: "\26ab";
  color: darkgreen
}